{
  "extends": ["airbnb", "prettier", "prettier/react", "prettier/standard"],
  "parser": "babel-eslint",
  "plugins": ["prettier"],
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "import/prefer-default-export": 0,
    "jsx-a11y/href-no-hash": 0,
    "react/jsx-filename-extension": [2, { "extensions": [".js"] }]
  },
  "settings": {
    "import/resolver": {
      "node": {
        "moduleDirectory": ["node_modules", "src"]
      }
    }
  }
}
